
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOM With The Wind</title>
    <link href="~/Content/bootstrap0.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
</head>
<body>
    <div class="cont">
        <div id="bigLogoimg">
            <img style="width:auto;height:80px;" src="~/Content/kom_logo_db.png" />
        </div>
        <div style="color:white">Beta testing is now complete. App coming soon.</div>
    </div>



</body>
</html>
