@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KOM With The Wind</title>
    <link href="~/Content/bootstrap0.css" rel="stylesheet">
    <link href="~/Content/main.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="cont">
            <img style="padding-bottom:5px;width:100px;height:auto;" src="~/Content/logo_app1_lg.png" />
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <div class="dash-unit" style="height:400px">
                    <dtitle>Available for Android and iOS</dtitle>
                    <hr>
                    <p></p>
                </div>
                <div class="dash-unit" style="height:100px">
                    <dtitle>Social</dtitle>
                    <hr>
                    <p>Follow us on Twitter</p>
                </div>
                <div class="dash-unit" style="height:100px">
                    <dtitle>Get in Touch</dtitle>
                    <hr>
                    <p>info@komwiththewind.com</p>
                </div>
                </div>
            <div class="col-xs-12 col-sm-12 col-lg-6">
                <div class="dash-unit" style="height:100px">
                    <div class="cont">
                        <div class="msg_sml">Please don't forget to ride responsibly and follow <a href="https://www.strava.com/stand-with-us">Strava's guidelines</a></div>
                        <div style="height:15px">&nbsp;</div>
                        <div class="msg_sml">Copyright © 2016 Orchid Global Limited.<br /><a href="http://www.komwiththewind.com/privacy"> Privacy Policy</a></div>
                    </div>
                    </div>
                    <div style="height:15px">&nbsp;</div>

                </div>
            </div>
        </div>
</body>
</html>
