
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="/Content/bootstrap0.css" rel="stylesheet">
    <link href="/Content/main.css" rel="stylesheet">
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.js"></script>

    <title>Tweet</title>
    <script type="text/javascript">

        window.onload = getWindiest("1");

        function getWindiest(daysago) {
            var midhtml;
            var n
            midhtml = "";
            var seg_loc_data = {
                points: []
            };
            n = 1;
            $.ajax({
                type: "GET",
                url: "/Home/AllW",
                //data: "dayosag=" + daysago,
                dataType: "json",
                timeout: 6000,
                success: function (parsed_json) {
                  
                    localStorage.setItem("topw_data", JSON.stringify(parsed_json));
                    $.each(parsed_json.topw, function (i, seg) {
                        //console.log(wd.Wspd);
                        var stars = seg.Stars;
                   //     var name = seg.UserID;
                        var wspd = seg.Wspd;
                        var timestamp = seg.TS_pretty;
                        var loc = seg.Location;
                        var tsa = timestamp.split(" ");
                   //     var segname = seg.Name;

                     //   var latlng1 = JSON.stringify(seg.Latlng[0]);
                    //    var latlng = latlng1.split(',');
                      //  var lat = latlng[0];
                        //  var lng = latlng[1];
                        var dtext;
                        if (stars <= 3) {
                            dtext = "Good"
                        }
                        var st = "★✰✰";
                        if (stars > 3) {
                            dtext = "High"
                        }
                        var PID = seg.SegID
                        //Good chance of KOM: 5:00PM local time in Alenquer, Portugal. Star Rating: 3/5 Wind Speed: 21kph. As found by a #KOMWithTheWind user. #Strava
                        midhtml = midhtml + "<div>" + timestamp + "</div><div id=\"tweet" + n + "\">" + dtext + " chance of KOM: " + tsa[0] + tsa[1] + " local time in " + loc + ". Star Rating: " + stars + "/5. Wind Speed: " + wspd + "kph. As found by a #KOMWithTheWind user. #Strava</div>" +
                            "<button onclick=\"tweetIt('" + n + "')\">Tweet</button><div style=\"height:20px\"></div>";
                        n++
                    })

                    $('#com_table').html(midhtml);
                },
                error: function (xhr, error) {
                    console.debug(xhr); console.debug(error);
                    $('#comspin').hide();
                    var midhtml = "<li style=\"height:65px\"><i class=\"read\"></i><p class=\"un_sel\">Data not available</li>";
                    $('#com_table').html(top + midhtml + "</ul></div></div>");

                }
            });
            return false;
        }


        function tweetIt(n) {
            var phrase = document.getElementById('tweet'+n).innerText;
            var tweetUrl = 'https://twitter.com/intent/tweet?text=' +
              encodeURIComponent(phrase);

            window.open(tweetUrl);
        }

    </script>
</head>
<body style="background-color:#1f1f1f;padding:20px">


    <div id="com_table" style="font-size:14px;color:white">
    </div>
</body>
</html>
